@page "/xemblog/{id:int}"
@model razorweb.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
    
}

<h1>@Model.Article.Title</h1>
<p><i>@Html.DisplayFor(model => model.Article.Created)</i></p>
<hr>
@* @Html.DisplayFor(model => model.Article.Content) *@
@Html.Raw(Model.Article.Content)

<hr>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Sửa</a> |
    <a asp-page="./Index">Danh sách bài viết</a>
</div>
